<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http;//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.mystudyproject.mapper.LoginMapper">
    <select id="login" resultType="org.fullstack4.mystudyproject.domain.LoginVO">
        SELECT user_id, password, name, phone_number, email, login_fail, last_login_date, member_status
        FROM tbl_member
        WHERE user_id = #{user_id}
    </select>
    <update id="pwdChange">
        UPDATE tbl_member SET password = #{password}
        WHERE user_id = #{user_id}
    </update>

    <select id="idCheck">
        SELECT COUNT(*) FROM tbl_member WHERE user_id = #{user_id}
    </select>

    <update id="pwdSearch">
        UPDATE tbl_member SET password = #{password}
        WHERE user_id = #{user_id}
    </update>
</mapper>