<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http;//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.mystudyproject.mapper.MyStudyMapper">

    <sql id="whereCondition">
        <where>
            <if test="search_type != null">
                <foreach collection="search_type" item="type" open="(" close=")" separator=" OR ">
                    <if test="type == 't'.toString()">
                        title LIKE CONCAT('%', #{search_word}, '%')
                    </if>
                    <if test="type == 'u'.toString()">
                        content LIKE CONCAT('%', #{search_word}, '%')
                    </if>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 !='' and search_date1 !='null'">
                AND display_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 !='' and search_date2 !='null'">
                AND display_date <![CDATA[<=]]> #{search_date2}
            </if>
        </where>
    </sql>

    <resultMap id="MyStudyVO" type="org.fullstack4.mystudyproject.domain.MyStudyVO">
        <id column="study_idx" property="study_idx"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="display_status" property="display_status"/>
        <result column="display_start" property="display_start"/>
        <result column="display_end" property="display_end"/>
        <result column="like" property="like"/>
        <result column="reg_date" property="reg_date"/>
        <result column="image" property="image"/>
        <result column="hashtag" property="hashtag"/>
        <result column="field" property="field"/>
        <result column="share_people" property="share_people"/>
        <collection property="receiveIds" ofType="String">
            <result column="receive_id" />
        </collection>
        <association property="shareVO" resultMap="ShareVO"/>
    </resultMap>


    <resultMap id="ShareVO" type="org.fullstack4.mystudyproject.domain.ShareVO">
        <id column="share_idx" property="share_idx"/>
        <result column="user_id" property="user_id"/>
        <result column="study_idx" property="study_idx"/>
        <result column="share_id" property="share_id"/>
    </resultMap>

    <select id="view" resultMap="MyStudyVO">
        SELECT tm.study_idx, tm.title, tm.content, tm.display_status, tm.display_start, tm.display_end, tm.`like`, tm.reg_date
        ,tm.image, tm.hashtag, tm.field, tm.share_people, ts.user_id AS receive_id
        FROM tbl_mystudy as tm
        INNER JOIN tbl_share as ts ON ts.study_idx = tm.study_idx
        WHERE tm.study_idx = #{study_idx}
    </select>

    <select id="total_count" resultType="int">
        SELECT COUNT(*) FROM tbl_mystudy
        <include refid="whereCondition"></include>
    </select>

    <select id="list" resultType="org.fullstack4.mystudyproject.domain.MyStudyVO">
        SELECT study_idx, title, display_status, display_start, display_end, `like`, reg_date
        FROM tbl_mystudy
        <include refid="whereCondition"></include>
        order by reg_date desc
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <insert id="regist">
        INSERT INTO tbl_mystudy(user_id, title,content, display_status, display_start, display_end, reg_date
        ,image, hashtag, field, share_people)
        VALUES(#{user_id},#{title},#{content},#{display_status},#{display_start},#{display_end},now(),#{image}
        ,#{hashtag},#{field},#{share_people})
    </insert>

    <update id="modify">
        UPDATE tbl_mystudy SET content=#{content}, title=#{title}, display_status=#{display_status},
        display_start=#{display_start}, display_end=#{display_end}, image=#{image}, hashtag=#{hashtag},
        field=#{field}, share_people=#{share_people}
        WHERE study_idx = #{study_idx}
    </update>

    <delete id="delete">
        DELETE FROM tbl_mystudy WHERE study_idx = #{study_idx}
    </delete>

</mapper>